<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EATEN!{{else}}Not eaten...{{/if}}
	</button>

	<img src="{{image}}" alt="Image of burger {{id}}">

	{{!-- <img class="delete-burger" data-id="{{id}}">
		DELETE
	</button> --}}
</li>
