<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EATEN!{{else}}Not eaten...{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{id}}">
		DELETE
	</button> --}}
</li>
